  <nav class="fixed-navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg">
          <h1 class="smallhk">Hop</h1>
        </a>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg" class="kongclick" href="/">
          <img src="http://i.imgur.com/rpxlUk4.png" alt="Brand" width="180"/>
        </a>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg">
          <h1 class="smallhk">Kong</h1>
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="kingkong">
          <li><a href="/"><img src="http://i.imgur.com/VrhbqGz.png" alt="home" class="navlogo"></a></li>
          <li><a href="/bookmarks"><img src="http://i.imgur.com/3wkva8Z.png" alt="bookmarks" class="navlogo"></a></li>
          <li class="hidden-xs"><a class="kongclick" href="/"><img src="http://i.imgur.com/XQzrggQ.png" alt="Brand" width="600"/></a></li>
          <li><button class="btn btn-primary btn-responsive" data-toggle="modal" data-target="#signupModal">Sign Up</button></li>
          <li><button class="btn btn-primary btn-responsive" data-toggle="modal" data-target="#signinModal">Sign In</button></li>
          <li><button id="signout-btn" class="btn btn-success btn-responsive">Sign Out</button></li>
        </ul>

      </div>
    </div>
  </nav>